@import "../../styles/base.scss";

.split {
    display: flex;
    align-items: stretch;
    height: calc(100vh - 134px);

    & > * {
        padding: 50px;
        width: 50%;

        &:nth-child(2) {
            background-color: $purple-light;
        }
    }
}